/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&family=Oswald:wght@400;700&display=swap');

/* General styles */

body {
    background: #000;
    color: #eee;
    font-family: 'Oswald',
        sans-serif;
}

.hidden {
    display: none;
}

h1 {
    font-family: 'Exo',
        sans-serif;
        font-weight: 700;
}

h2,
h3 {
    font-family: 'Oswald',
        sans-serif;
}

/* Buttons */

.btn-orange {
    background-color: #f56d1c;
    font-family: 'Oswald',
        sans-serif;
    color: black;
}

.btn-orange:hover {
    background-color: #1498e5;
    color: #eee;
    /* Code for ease-in-out effect from Code Institute: https://github.com/Code-Institute-Solutions/resume-miniproject-bootstrap4/tree/master/07-adding-hover-css */
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.btn-yellow {
    background-color: #dfc706;
}

.btn-green {
    background-color: #719d02;
    color: #eee;
}

.btn-yellow:hover {
    background-color: #dfc706;
    color: #000;    
}

.btn-green:hover {
        background-color: #719d02;
        color: #eee;
}

.img-btn {
    height: 180px;
    width: 180px;
    color: black;
    font-weight: bold;
}

.bg-yellow {
    background-color: #dfc706;
}

.bg-green {
    background-color: #719d02;
}

.bg-pink {
    background-color: #e01c80;
}

#search-submit {
    font-family: 'Oswald',
        sans-serif;
    font-size: 20px;
}

/* Modals */

.modal-dark {
    background-color: #000;
}

/* Main menu */

.xl-btn {
    width: 300px;
    font-family: 'Oswald',
        sans-serif;
    color: black;
}

.xl-btn:hover {
    opacity: 0.9;
    color: #eee;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

/* Results */

.recipe-card {
    background-color: #eee;
}

.inst-card {
    background-color: #ccc;
}