body {
    background: #000;
    color: #eee;
}

.hidden {
    display: none;
}

#header-logo {
    width: 100px;
}

.recipe-card {
    background-color: #eee;
}

.inst-card {
    background-color: #ccc;
}